body {
    margin: 0px;
    width: 300px;
    margin: 0 auto;
    background: lightskyblue;
}

.all-groups {
    width: 300px;
    margin: 0 auto;
}

.group {
    display: inline-block;
    width: 50px;
    height: 300 px;
    
    margin: 0 auto;
}

.bottom {
    display: inline-block;
    width: 100px;
    margin: 0 auto;
    float: right;
}

.button {
    float: right;
}