body {
    margin: 0;
    background-color: white;
}

.nature-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.main {
    background-color: white;
    text-align: center;
    font-family: Inter;
}

.menu {
    display: grid;
    grid-template-columns: 300px 1fr 300px;
}

.buttons {
    margin-left: 10%;
}

.button {
    display: block;
    border: none;
    background-color: #94C8F3;
    color: white;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 20px;
    font-family: Inter;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.page-name {
    font-weight: bold;
    font-size: 200%;
}

.sound{
    margin-right: 10%;
    display: flex;
    justify-content: end;
}

.sound-button {
    background-color: #94C8F3;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    padding: 10px;
    height: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    /* flex: 1; */
}

.sort_boards {
    display: block;
}

.add_board:hover {
    opacity: 0.85;
}

.add_board:active {
    opacity: 0.5;
}

.boards-container {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.board {
    display: block;
    width: 200px;
    height: 300px;
    background-color: #96CFA1;
    border-radius: 10px;
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

.board:hover {
    opacity: 0.8;
}