body {
    margin: 0;
    font-family: Inter, Arial;
    margin-bottom: 150px;
}

button, a {
    cursor: pointer;
}

#header {
    font-size: 5vw; /* gör att storleken på texten anpassar sig efter browser window */
    
    color: white;
    font-weight: bold;
    height: 20vh;
    background-image: url("../images/naturbild.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: end;
    padding: 20px;

    display: flex;
}

#title-text {
    margin-left: auto;
    margin-right: 10px;
}

#main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#task-btns-div {
    position: relative;
    margin-left: 20px;
}

.task-btns {
    display: block;
    background-color: #94C8F3;
    color: white;
    margin-top: 20px;
    
    font-size: 20px;
    font-family: Inter;
    font-weight: bold;
    
    border: none;
    border-radius: 10px;

    padding: 10px 20px;
    
}

.subtask-controls {
    position: relative;
    display: flex;
    align-items: center;
}

#sub-title {
    font-size: large;
}

.sub-add-task-alts {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 10px;

    display: flex;
    flex-direction: column;

    background: white;
    padding: 20px;
    border-radius: 20px;

    box-shadow: 2px 2px 5px rgba(0,0,0,0.8);

    z-index: 20;
}

.add-task-alts {
    position: absolute;
    display: flex;
    flex-direction: column;
    border: none;
    background-color: white;
    border-radius: 20px;
    
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    z-index: 1; /* högre z-index placerar elementet framför element med lägre z--index*/
}

.add-task-popup-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-task-popup-title {
    margin-right: auto;
}

.task-popup-close {
    background-color: #94C8F3;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin-left: auto;
}

.add-btn {
    width: 50px;
    margin-top: 5px;
    background-color: #94C8F3;
    color: white;
    border: none;
    border-radius: 5px;
}

#tasks-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-top: 25px;
}
.task {
    display: flex;
    justify-content: space-between;
    position: relative;
    
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    border: none;
    /* border: 3px solid black; */

    margin-top: 20px;
    padding-bottom: 0px;   
}

.task-header {
    display: flex;
    margin: 5px 20px;
    align-items: center;
}

.dropdown-btn {
    /* height: 50px; */
    color: white;
    border: 3px solid white;
    border-radius: 10px;
    font-size: 35px;
    margin-right: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    padding-bottom: 5px;
}

.task-tail {
    display: flex;
}

.task-tail-confirm-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px 20px;
}

.check-task-btn {
    background: white;
    height: 40px;
    width: 40px;
    margin-left: 10px;
    margin-top: 10px;
}

.delete-task-btn {
    margin-top: 10px;
    margin-bottom: 0;
    background-color: rgb(149, 149, 149);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 5px;
    /* position: absolute;
    bottom: 10px;
    right: 10px; */
}

.confirm-popup {
    position: absolute;
    top: 100%;
    right: 0;

    background: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);

    z-index: 10;
}

.confirm-btns {
    display: flex;
    justify-content: space-evenly;
}

.yes-btn {
    background-color: #94C8F3;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.no-btn {
    background-color: #94C8F3;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.task-wrapper {
    display: flex;
    flex-direction: column;
}

.subtasks-container {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}

.subtask {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    padding: 0px 10px 0 10px;
    color: white;
    margin-top: 0.2%;
    border-radius: 10px;
}

.subtask-tail {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.check-subtask-btn{
    background: white;
    height: 40px;
    width: 40px;
    margin-right: 8px;
}

.delete-subtask-btn{
    background-color: rgb(149, 149, 149);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

/* #sub-check-task-btn {
    margin-top: 5px;
    margin-bottom: 0;
} */

/* #sub-delete-task-btn {
    margin-right: 10px;
    margin-top: 2px;
} */

.add-subtask-btn {
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding-left: 5px;
    padding-right: 5px;
    font-size: small;
}

.task-personal {
    background: #96CFA1;
}

.task-group {
    background: rgb(121, 183, 242);
}

#your-tasks-alts {
    position: absolute;
    display: flex;
    flex-direction: column;
    border: none;
    background-color: white;
    border-radius: 20px;
    
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    z-index: 1; /* högre z-index placerar elementet framför element med lägre z--index*/
}

#your-tasks-popup-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#your-tasks-popup-title {
    margin-right: auto;
}

#all-tasks,
#completed-tasks,
#active-tasks {
    background: white;
    font-size: 17px;
    padding: 5px;
    text-align: start;
    border: none;
}

#all-tasks:hover,
#completed-tasks:hover,
#active-tasks:hover,
#all-tasks:active,
#completed-tasks:active,
#active-tasks:active {
    background: lightgray;
}

.your-tasks-alts {
    position: absolute;
    display: flex;
    flex-direction: column;

    background: white;
    border-radius: 20px;

    padding: 20px;

    box-shadow: 2px 2px 5px rgba(0,0,0,0.8);

    z-index: 20;
}

.your-tasks-popup-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.your-tasks-popup-title {
    margin-right: auto;
}

/* Title */
/* .page-name {
    margin: 0;
    font-weight: bold;
    font-size: 3vw;
    position: absolute;
    left: 0%;
    right: 0;
    text-align: center;
    
} */

/*Features-buttons*/
#features-btns-div {
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.feature-btns {
    margin: 5px;
    height: 50%;   
}

#share-board-popup {
    position: absolute;
    right: 100%;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    z-index: 20;
}