body {
    margin: 0;
    background-color: white;
    margin-bottom: 2000px;
}

.main {
    background-color: white;
    font-family: Inter;
}

.menu {
    display: grid; /* skapar en grid, som ett rutnät*/
    grid-template-columns: 300px 1fr 300px; /* varje kolumns storlek. 1fr = 1 free space(?) felxibel storlek, anpassar sig efter sidan*/
    margin: 20px;
}

.page-name {
    font-weight: bold;
    font-size: 3vw;
    text-align: center;
    float:left;
}

.buttons {
    margin-left: 10%;
    float: left;
    width: 100%;
}

.button {
    display: block;
    background-color: #94C8F3;
    color: white;
    margin-top: 20px;
    
    font-size: 20px;
    font-family: Inter;
    font-weight: bold;
    
    border: none;
    border-radius: 10px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.button:hover {
    background-color: #53aaf1;
}

.input-dropdown {
    width: fit-content;
    position: relative;
    margin: 0;
}

.input{
    position: absolute;
    
    display: none;
    border: none;
    background-color: white;
    border-radius: 20px;
    
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    z-index: 1; /* högre z-index placerar elementet framför element med lägre z--index*/

}

.input.show-input {
    display: block;
}

.enter-name {
    display: inline-block;
}

.add-button {
    display: inline-block;

    background-color: #94C8F3;
    color: white;
    border: none;
}

.add-button:hover{
    background-color: #53aaf1;
    cursor: pointer;
}

.dropdown {
    width: fit-content;
    position: relative;
    margin: 0;
}

.dropdown button:hover {
    background-color: #53aaf1;
}

.alternatives {
    position: absolute;
    display: none;
    border: none;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    width: 90%;
    z-index: 1; 
    cursor: pointer;
}

.alternatives.show-alternatives {
    display: block;
}

.dropdown a {
    display: block;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 5px;
}

.dropdown a:hover {
    background-color: hsl(0, 0%, 90%);
}

.sound {
    margin-right: 10%;
    display: block;
    justify-content: end;

    float: left;
    width: 100%;
}

.sound button {
    background-color: #94C8F3;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    padding: 10px;
    height: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    /* flex: 1; */
}

.sound:hover .sound-options {
    display: block;
}

.sound:hover button {
    background-color: #94c8f39a;
}

.sound .audio:hover {
    background-color: hsl(0, 0%, 90%);
}

.sound .sound-options {
    display: none;
    position: absolute;
    background-color: white;
    top: 100%;
    right: 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    padding: 10px;
}

.sound .audio {
    display: block;
    color: black;
    padding: 15px;
}

.sort_boards {
    display: block;
}

.add_board:hover {
    opacity: 0.85;
}

.add_board:active {
    opacity: 0.5;
}

.boards-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.single_board_conatainer {
    display: inline-block;
    position: relative;

    margin-right: 50px;
    margin-bottom: 50px;

}

.board {
    display: block;
    border-radius: 10px;

    float: left;

    height: 100%;
    width: 100%;

    text-align: center;
    text-decoration: none;
    font-size: 2vw;
    color: black;
    
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;

    padding-bottom: 10px;

    position: relative;
}

.board:hover{
    cursor:default;
}

.remove_button {
    position: absolute;
    bottom: -5px;
    right: -45px;

    display: inline-block;

    background-color: grey;
    
    border-radius: 8px;
    border: none;
}

.remove_button:hover{
    cursor: pointer;
}

.board.personal {
    background-color: #96CFA1;
}

.board.group {
    background-color: rgb(121, 183, 242);
}

.board:hover {
    opacity: 0.9;
}
